html {
  font-size: 62.5%;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-wrapper {
  width: 100rem;
  height: 70rem;
  background-color: #eee;
  border-radius: 3rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.login-banner {
  position: absolute;
  top: 25%;
  left: -30rem;
  text-align: center;
  color: #fff;
  width: 30rem;
  z-index: 100;
  transition: left 0.8s;
}

.login-container.change .login-banner {
  left: 5rem;
}

.login-banner h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.login-banner p {
  font-size: 2rem;
  margin-top: 6rem;
}

.blue-bg {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #1450A3, #337CCF);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  transition: width 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.login-container.change .blue-bg {
  width: 40%;
}

.logo-2.change {
  display: none;
}

.blue-bg button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  width: 16rem;
  height: 5rem;
  background-color: transparent;
  border: 0.1rem solid #fff;
  border-radius: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
  cursor: pointer;
}

.signin-form {
  width: 60rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 16rem 0;
  transition: left 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.login-container.change .signin-form {
  left: 40rem;
}

.signin-form h1 {
  font-size: 4rem;
  color: #1450A3;
}

.signin-form p {
  font-size: 1.8rem;
  color: #555;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.input-group {
  position: relative;
  max-width: 45%;
  padding: 0.5rem 0rem;
}

.input-group input {
  width: 28rem;
  height: 5rem;
  padding: 1rem 1rem 1rem 3rem;
  background-color: #ddd;
  border:none;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.input-group i {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #555;
}

.signin-form button {
  width: 16rem;
  padding: 1rem 0rem;
  background-color: #1450A3;
  border: none;
  border-radius: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
  margin-top: 1rem;
  cursor: pointer;
}

.logo-2{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

#logoonce img{
  width: 30%;
  max-width: 100%;
  height: auto;
  margin-top: 40px;
}

.resetPass{
  padding: 1rem;
}

.eye-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.input-group input {
  width: 28rem;
  height: 5rem;
  padding: 1rem 1rem 1rem 3rem;
  background-color: #ddd;
  border:none;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.input-group i {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #555;
}

/* Responsive adjustments */

/* Smaller tablets and large phones (landscape view) */
@media (max-width: 768px) {
  .blue-bg {
    display: none; /* This hides the blue background on smaller screens */
  }
 
  .login-form-wrapper {
    width: 100%;
    height: 60%;
    padding: 2rem;
  }

  .login-banner {
    top: 10%;
    left: 0;
    width: 100%;
  }

  .signin-form {
    width: 100%;
    padding: 2rem 1rem;
  }

  .input-group input {
    width: 100%;
  }
}

/* Smaller phones */
@media (max-width: 480px) {
  .login-form-wrapper {
    border-radius: 1rem;
  }

  .login-banner h1 {
    font-size: 3rem;
  }


  .signin-form h1 {
    font-size: 2.5rem;
    color: #1450A3;
  }


  .login-banner p,
  .signin-form p {
    font-size: 1.6rem;
  }

  .blue-bg button,
  .signin-form button {
    width: 12rem;
    height: 4rem;
  }
}

/* Specific adjustments for Samsung devices (optional) */
@media screen and (device-width: 360px) and (device-height: 640px) {
  /* Adjustments specifically for certain Samsung models */
}

/* Specific adjustments for iOS devices (optional) */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Adjustments specifically for iPads */
}

