.search-professor-input {
  width: 45%;
  padding: 10px;
  margin-right: 1rem; /* Reduced the margin to make it more compact */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

/* Updated CSS for the Sort Alphabetically button */
.sort-alphabetically-button {
  width: 45%;
  padding: 10px;
  font-size: 16px;
  background-color: #00aeff;
  color: white;
  border: 1px solid #00aeff;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 0.5rem; /* Added a small right margin for spacing */
}

/* Updated CSS for the Sort by Similarity button */
.sort-by-similarity-button {
  width: 45%;
  padding: 10px;
  font-size: 16px;
  background-color: #00aeff;
  color: white;
  border: 1px solid #00aeff;
  border-radius: 20px;
  cursor: pointer;
}


.pagination-container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

@media only screen and (max-width: 767px) {
  .search-professor-input,
  .search-professor-button {
    margin-right: 0;
    margin-left: 12.5px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
  .search-professor-input,
  .search-professor-button {
    margin-right: 0;
    margin-left: 25px;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  .search-professor-input,
  .search-professor-button {
    margin-right: 0;
    margin-left: 30px;
  }
}
