
.text-editor {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
}

.text-editor div {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
    margin: 0 auto; /* Centers horizontally inside the flex container */
}

.submit-edits{
    width: 40%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px 20px 20px 20px;
}

.edit-website{
    background-color: #00aeff;
    color: white;
    width: 40%;
    padding: 10px;
    margin-top: 2rem;
    margin-bottom: 10rem;
    font-size: 16px;
    border: 1px solid #00aeff;
    border-radius: 20px 20px 20px 20px;
}

.footer-container{
  padding: 0;
}

.editor-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ProfessorIntroduction {
    font-family: sans-serif; /* Sets the font to sans-serif */
    font-size: 25 px;        /* Sets the font size to 44 points */
    text-align: right;      /* Aligns text to the right of the container */

    /* Vertical centering */
    display: flex;
    align-items: center;    /* Aligns the content vertically in the middle */
    justify-content: flex-end; /* Aligns the content to the right */
    height: 100%;           /* Adjust as per your layout needs */
}


.container1
{border: 2px solid #4CAF50;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s; border-radius: 5px;}

.container1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}

/* This styles the content within the editor */
.ql-editor {
  color: black;        /* Set the text color to black */
  line-height: 1.5;    /* Set the line height for 1.5 spacing */
  font-family: sans-serif; /* Set the font to sans-serif */
}

/* Styles for when the user is not actively editing */
.viewing .ql-editor {
  color: black;        /* Set the text color to black */
  line-height: 1.5;    /* Set the line height for 1.5 spacing */
  font-family: sans-serif; /* Set the font to sans-serif */
}

/* The toolbar should be unaffected by the text styling */
.ql-toolbar {
  /* Toolbar styles if necessary */
}

.btn {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .05rem; }
  .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn.btn-primary {
    background: #136ad5;
    border-color: #136ad5; }
    .btn.btn-primary:hover {
      border-color: #1573e8;
      background: #1573e8; }
  .btn.btn-secondary {
    background: #00aeff;
    border-color: #00aeff; }
    .btn.btn-secondary:hover {
      border-color: #14b4ff;
      background: #14b4ff; }
  .btn.btn-sm {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px; }
  .btn.btn-outline-primary {
    border-color: #136ad5;
    color: #136ad5; }
    .btn.btn-outline-primary:hover {
      background: #136ad5;
      color: #ffffff; }
