
.text-editor {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    height: 100vh;           
}

.text-editor div {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
    margin: 0 auto; /* Centers horizontally inside the flex container */
}


.ProfessorIntroduction {
    font-family: sans-serif; /* Sets the font to sans-serif */
    font-size: 25 px;        /* Sets the font size to 44 points */
    text-align: right;      /* Aligns text to the right of the container */

    /* Vertical centering */
    display: flex;
    align-items: center;    /* Aligns the content vertically in the middle */
    justify-content: flex-end; /* Aligns the content to the right */
    height: 100%;           /* Adjust as per your layout needs */
}

.btn {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .05rem; }
  .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn.btn-primary {
    background: #136ad5;
    border-color: #136ad5; }
    .btn.btn-primary:hover {
      border-color: #1573e8;
      background: #1573e8; }
  .btn.btn-secondary {
    background: #00aeff;
    border-color: #00aeff; }
    .btn.btn-secondary:hover {
      border-color: #14b4ff;
      background: #14b4ff; }
  .btn.btn-sm {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px; }
  .btn.btn-outline-primary {
    border-color: #136ad5;
    color: #136ad5; }
    .btn.btn-outline-primary:hover {
      background: #136ad5;
      color: #ffffff; }
